:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.buttons button {
  text-align:center;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 120%;
  color: #FFF;
  background: #0CADA7;
  padding: 10px 30px;
  display: inline-block;
  white-space: nowrap;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.2s ease-in-out;  
}

.buttons button:hover {
  background: #0A948F;
}

#app {
  text-align: center;
  color: #2c3e50;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.box {
  text-align: start;
  padding: 0.5em;
  width: 150px;
  height: 150px;
  background-color: red;
  transition-property: width, height, background-color;
  transition-duration: 1s;
  transition-delay: 100ms;
}

.box:hover {
  width: 300px;
  height: 300px;
  background-color: green;
}
